NEXT_PUBLIC_SUPABASE_URL=https://rxjamwfbjjmyrmgutdim.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_jMRaN37jsID7lOISBayNhg_dRM1lLi1
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4amFtd2ZiampteXJtZ3V0ZGltIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjA4ODI2MiwiZXhwIjoyMDkxNjY0MjYyfQ.nIawN07qMGQO4e__SLYV8YVsIwgkXQOGkPWZk7RF7Ew
GEMINI_API_KEY=AizaSyDlRets3NRb6yesxA8dXrAsRnASxJPCXFY
